body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  min-width: 400px;
}

.city {
  font-size: 2.5rem;
  font-weight: bold;
}
.temperature {
  font-size: 3.5rem;
  font-weight: bold;
}

.condition {
  font-size: 1.5rem;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}

.number {
  font-weight: bold;
}

.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.search-button {
  padding: 10px 15px;
  font-size: 16px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
