.wrapper {
  display: grid;
  grid-template-rows: 60px 50px 1fr;
  grid-template-columns: 200px 1fr 1fr;
  gap: 10px;
}

.wrapper:before {
  content: "";
  background: url("./assets/weather1.jpg") no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 700px;
}

button {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

button:-webkit-details-marker {
  display: none;
}

.favorite-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  vertical-align: top;
}

.image {
  width: 100px;
  height: 100px;
}

.city {
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
.temperature {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.condition {
  font-size: 2rem;
}

.search-form {
  grid-column: 1 / 3;
  grid-row: 2;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  flex: -1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px 0 0 5px;
  min-width: 70vh;
}
.favorites {
  grid-column: 1;
  grid-row: 3;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.main {
  grid-column: 2 / 3;
  grid-row: 3;
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 10px;
  width: 500px;
  height: 350px;
  place-items: center;
  justify-items: center;
}

.main-info {
  grid-column: 1;
  grid-row: 1;
}

.additional-info {
  grid-column: 2;
  grid-row: 1;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
