body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  min-width: 400px;
}

.city {
  font-size: 2.5rem;
  font-weight: bold;
}
.temperature {
  font-size: 3.5rem;
  font-weight: bold;
}

.condition {
  font-size: 1.25rem;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecast-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.forecast-days {
  display: flex;
  justify-content: space-between;
}

.forecast-day {
  font-weight: bold;
}
