.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  font-size: 20px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.city {
  font-size: 2.5rem;
  font-weight: bold;
}
.temperature {
  font-size: 3.5rem;
  font-weight: bold;
}

.condition {
  font-size: 1.25rem;
}
